html
  font-size: 62.5%
  // +rmin(1600)
  //   font-size: 0.625vw 

body
  background: #FFF
  color: black
  line-height: 1.4
  min-width: 320px
  +f(l, 16)
  +smooth-font

a
  text-decoration: none
  color: $color-blue
  +trans(color)
  &:hover,
  &:focus
    color: red

.lnk,
a:not([class])
  text-decoration: none
  border-bottom: 1px solid rgba($color-blue, 0.3)
  +trans()
  transition-property: color, border-color
  &:hover
    border-color: rgba(red, 0.3)

.lnk_black
  &:not(:hover)
    border-color: rgba(black, 0.3)

.out
  overflow: hidden

.text
  +f(l, 16)
  line-height: 1.5625
  p
    margin: 1em 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
  a
    &:not(:hover)
      color: inherit

.header
  position: fixed
  z-index: 3
  top: 0
  left: 0
  width: 100%
  background: white
  min-width: 320px
  transition: box-shadow 0.3s ease
  .hero-links
    margin: 0
    position: absolute
    top: 0
    height: 100%
    left: 0
    right: 0
    opacity: 0
    background: white
    visibility: hidden
    transition: all 0.2s ease-out
    overflow: hidden
    &:before
      content: ""
      display: inline-block
      vertical-align: middle
      height: 100%
      width: 0
  .hero-btn
    transform: translateY(100%)
    transition: all 0.2s ease-out
  &.has-shadow
    box-shadow: 0 0 10px 0 rgba(black, 0.3)
  &.is-show-buttons
    .hero-links
      opacity: 1
      visibility: visible
    .hero-btn
      transform: translateY(0)
    .lang
      z-index: 0
  &.is-hide-buttons
    .hero-links
      opacity: 0
      visibility: hidden
      transition-timing-function: ease-in
    .hero-btn
      transform: translateY(-100%)
      transition-timing-function: ease-in     
  +sm
    .l
      position: relative
    .header__inner
      padding: 15px 0
      position: static
    .hero-links
      padding-left: 15px
      padding-right: 15px
    .header__right
      top: 50%
      margin-top: -0.65em
      right: 58px
    .nav
      visibility: hidden
      opacity: 0
      position: absolute
      z-index: 3
      top: 0
      right: 0
      left: 0
      background: white
      text-align: center
      padding: 40px 15px 15px
      box-shadow: 0 0 10px 0 rgba(black, 0.3)
      transition: 0.3s ease
      transition-property: opacity, visibility
      max-height: 100vh
      overflow: auto
      box-sizing: border-box
      +smooth-scroll
    .nav__item
      display: block
      margin: 0
    .nav__link
      line-height: 2
    &.is-show-menu
      .logo
        z-index: 5
      .nav
        opacity: 1
        visibility: visible
  +sm
    .hero-btn
      font-size: 14px

.header__inner
  position: relative
  padding: 22px 0
  
.header__right
  position: absolute
  z-index: 1
  top: 25px
  right: -14.15% 
  text-align: right
  +r(1000)
    right: 0
  .lang
    transition: opacity 0.5s ease-in
  &.is-active
    .lang
      opacity: 0
      animation: lang_op 0.3s ease-out
    .search__btn
      opacity: 1
      svg path
        fill: #000
@keyframes lang_op
  0%
    opacity: 1
  20%
    opacity: 0
  80%
    opacity: 0
  100%
    opacity: 0
.header__buttons
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  overflow: hidden

.menu-button
  display: none
  position: absolute
  z-index: 5
  top: 50%
  right: 8px
  margin-top: -20px
  width: 40px
  height: 40px
  box-sizing: border-box
  padding: 8px
  color: $color-blue
  background: none
  &:before,
  &:after,
  > span
    content: ""
    display: block
    width: 100%
    border-top: 3px solid
    transition: all 0.3s ease
  > span
    margin: 6px 0
  .is-show-menu &
    &:before
      transform: rotate(45deg)
      transform-origin: 2px 6px
    &:after
      transform: rotate(-45deg)
      transform-origin: 1px -3px
    > span
      opacity: 0
      transform: scale(0)
  &:hover
    color: red
  +sm
    display: block

.lang
  min-width: 85px
  +f(l, 16)
  color: $color-grey
  vertical-align: top
  display: inline-block
  a
    border: none
    opacity: .7
    transition: opacity .2s
    &:hover,
    &:focus
      color: inherit
      opacity: 1
    &:not(:hover)
      color: inherit
  &:hover,
  &.is-hover
    .lang__list
      opacity: 1
      visibility: visible
.lang__list
  opacity: 0
  visibility: hidden
  position: absolute
  z-index: 1
  top: -10px
  left: -15px
  min-width: 100%
  box-sizing: content-box
  padding: 10px 15px
  white-space: nowrap
  background: white
  box-shadow: 0 0 10px 0 rgba(black, 0.3)
  +trans

.search
  position: relative
  margin-left: 15px
  padding-top: 3px
  vertical-align: top 
  display: inline-block
  &__btn
    font-size: 0
    background: transparent 
    opacity: .5
    transition: opacity .2s
    &:hover
      opacity: 0.7
    &:active
      opacity: 1
    svg path
      transition: fill .2s
  &__wrap
    position: absolute
    top: -5px
    right: 16px
    transition: width 0.5s ease-out
    width: 0
    &.is-active
      width: 214px
      +r(1200)
        width: 172px
      +r(480)
        width: 122px
  &__input
    width: 100%
    height: 30px
    color: #999
    +f(l, 16)
    background: transparent 
    border-bottom: 1px solid rgba(#000, 1) 
    &::placeholder
      color: rgba(#999, .5)
.nav
  position: relative

.nav__item
  display: inline-block
  vertical-align: top
  margin-right: 20px
  line-height: 1.7
  &:last-child
    margin-right: 0

.nav__link
  display: inline-block
  +f(l, 16)

.logo
  display: inline-block
  position: absolute
  top: 50%
  margin-top: -0.55em
  right: 100%
  margin-right: percentage(75/1200)
  color: black
  +f(b, 16, 100)
  text-decoration: none
  text-transform: uppercase
  line-height: 1
  +r(1400)
    margin-right: 15px
  +r(1000)
    position: relative
    top: auto
    right: auto
    margin: 0

.link
  color: $color-blue
  text-decoration: none
  border-bottom: 1px dotted
  line-height: 1
  cursor: pointer
  +trans(color)
  &:hover
    color: red
  &_solid-line
    border-style: solid
    border-color: rgba($color-blue, 0.3)
    &:hover
      border-color: rgba(red, 0.3)

.toparea
  padding-top: 130px
  padding-bottom: 95px
  overflow: hidden
  &.l
    padding-top: 130px
    padding-bottom: 95px
    +sm
      padding-top: 100px
      padding-bottom: 40px
  &__left
    max-width: 710px
    line-height: 1.9
    .title
      margin-bottom: 15px
      font-size: 6.9rem
      line-height: 1.2
  +sm
    padding-top: 100px
    padding-bottom: 40px

.hero
  position: relative
  +f(el, 16)
  line-height: 1.526
  padding: 0 45% 0 0
  p
    margin: 1em 0
  .btn
    margin-top: 15px
  +sm
    padding-right: 0
    .hero-figure
      display: none

.hero-figure
  position: absolute
  z-index: -1
  top: -30px
  right: 0
  visibility: hidden
  opacity: 0
  width: 490px
  > svg
    width: 100%
    .dashed-line
      stroke-dasharray: 3px !important
      transition: stroke-dasharray 0.5s linear
  &-iptv
    width: 430px
    .hero-figure__text
      width: 330px
  &-ipcam
    top: -15px
    right: 40px
    .hero-figure__text
      width: 380px
  &.is-active
    visibility: visible
    opacity: 1
    z-index: 1
  +md
    top: -20px
    right: -30px

.hero-figure__text
  position: absolute
  top: 320px
  right: 0
  +f(el, 14)
  line-height: 1.43
  color: $color-blue

.hero-links
  margin: 23px 0

.hero-text
  display: none
  &.is-active
    display: block

.hero-btn
  display: inline-block
  margin-right: 15px
  text-decoration: none
  +f(el, 16)
  color: inherit
  +trans(color)
  line-height: 1
  color: $color-blue
  cursor: pointer
  user-select: none
  > *
    display: inline-block
    vertical-align: middle
  span
    border-bottom: 1px dotted
  g
    stroke: currentColor
  circle
    visibility: hidden
    opacity: 0
    +trans
  &:hover
    color: red
  &.is-active
    color: black
    cursor: default
    span
      border-color: rgba(black, 0)
    circle
      visibility: visible
      opacity: 1


.title 
  +f(el, 50)
  line-height: 1.1
  &_bold
    +f(l)
  & + .series
    margin-top: 3rem
  &_small
    +f(el, 35)
    +rmin(1600)
      font-size: 35px
  +md
    &:not(.title_small)
     font-size: 45px
  +sm
    font-size: 34px
    font-size: 3.4rem


.section
  margin-top: 70px
  margin-top: 7rem
  &.is-pad
    padding: 95px 0
  .title
    margin-bottom: 30px
    margin-bottom: 3rem
    & + .title
      margin-top: 30px
      margin-bottom: 3rem
  +sm
    margin-top: 40px
    .title
      margin-bottom: 20px

.section-questions
  line-height: 1.6
  +sm
    .row
      margin: 0
    .col
      float: none
      width: auto
      padding: 0
      &:not(:first-child)
        margin-top: 30px

.section-request
  margin-top: 100px
  margin-top: 10rem
  +sm
    .col
      float: none
      width: auto
      margin-top: 20px

.section-ip
  position: relative
  margin-top: 180px
  margin-top: 18rem
  padding-top: 130px
  padding-top: 13rem
  padding-bottom: 120px
  padding-bottom: 12rem
  z-index: 1
  +r(899)
    margin-top: 40px
    padding-top: 40px
    padding-bottom: 60px

.section-news
  +sm
    .col
      float: none
      width: auto
      margin-top: 20px

.section-contacts
  position: relative
  margin-top: 65px
  margin-top: 6.5rem
  background: #002FC7
  color: white
  padding: 60px 0 55px
  padding: 6rem 0 5.5rem
  +clr
  .svg-map-marker
    margin: 5px 0 8px -7px
    font-size: 35px
    font-size: 3.5rem
    fill: white
  .svg-map-marker-o
    fill: white
    font-size: 1.2em
    position: relative
    top: 3px
  .title
    margin-bottom: 16px
  .social-media
    position: absolute
    margin-top: 5px
    top: 50%
    transform: translateY(-50%)
    left: 20px
  .social-link
    display: block
    text-align: center
    margin: 0 auto 37px
    &:last-child
      margin-bottom: 0
  +lg
    .social-media
      position: static
      margin: 20px 0 0
      transform: none
    .social-link
      display: inline-block
      margin: 0 30px 0 0
  +sm
    padding: 40px 0
    .row
      margin-left: 0
      margin-right: 0
    .col
      float: none
      width: auto
      padding: 0
      &:not(:first-child)
        margin-top: 30px
    .section-contacts__cell
      float: none
      width: auto
      max-width: none
      padding: 0
      &:not(:first-child)
        margin-top: 20px
    .svg-map-marker
      margin-left: 0

.section-contacts__cell
  float: left
  width: 50%
  box-sizing: border-box
  padding-right: 40px
  &:nth-child(2)
    max-width: 390px

.questions
  +sm
    .icon-link
      display: block
      margin: 10px 0 0
      .svg-icon
        display: inline-block
        vertical-align: middle
        margin: 0 5px 0 0
        min-width: 45px
      // > span
      //   display: inline-block
      //   vertical-align: middle
      br
        display: none

.btn,
a.btn
  display: inline-block
  box-sizing: border-box
  height: 45px
  height: 4.5rem
  min-width: 140px
  min-width: 14rem
  padding: 0 20px
  padding: 0 2rem
  line-height: 43px
  line-height: 4.3rem
  border: 1px dotted
  border-radius: 3px
  text-align: center
  border-radius: 0.3rem
  background: none
  +f(el, 16)
  color: $color-blue
  +trans
  transition-property: color, background
  text-decoration: none
  text-align: center
  cursor: pointer
  &:hover
    color: red
  &_fluid
    display: block
    width: 100%
  &_solid
    background: $color-blue
    border: none
    color: white
    height: 50px
    height: 5rem
    line-height: 50px
    line-height: 5rem
    +f(eb, 14, 150)
    text-transform: uppercase
    &:hover
      color: white
      background: #002fc8
  &_big
    height: 50px
    height: 5rem
  &_long
    padding-left: 40px
    padding-left: 4rem
    line-height: 40px
    line-height: 4rem
  &_bord
    border-style: solid

.features-container
  position: relative
  background: #001E8D
  height: 980px
  transition: height 0.3s ease
  +sm
    min-height: 0
    height: 600px

#lines-svg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 0
  transform: translate(0.5px, 0.5px)
  pointer-events: none
  transition: opacity 0.5s ease
  +sm
    display: none !important
  .is-changing &
    opacity: 0
    transition: none

.features
  visibility: hidden
  opacity: 0
  position: absolute
  z-index: 1
  top: 0
  left: 0
  right: 0
  padding: 100px 40px 100px
  box-sizing: border-box
  color: white
  transition: 0.5s ease
  transition-property: opacity, visibility
  &-ipcam
    overflow: hidden
    min-height: 950px
  &-iptv
    min-height: 980px
  &.is-active
    visibility: visible
    opacity: 1
  +sm
    padding: 30px 15px
    min-height: 0
    .features__center
      padding: 0
      max-width: none

.features__center
  max-width: 420px
  max-width: 42rem
  padding-left: 80px
  margin: auto
  box-sizing: content-box
  position: relative
  z-index: 1
  > .title
    white-space: nowrap
  +sm
    > .title
      white-space: initial

.feature
  margin-top: 60px
  max-width: 24.7rem
  &:nth-child(even)
    margin-left: 80px
  +sm
    margin: 30px 0 0
    max-width: none
    br
      display: none
    &:nth-child(even)
      margin-left: 0

.feature__label
  +f(b, 18)
  line-height: 1.526
  margin-bottom: 10px

.feature__text
  +f(l, 16)
  line-height: 1.78

.feature-pic
  position: absolute
  z-index: 1
  +rmin(1650)
    margin-top: 1rem
  +rmin(1700)
    margin-top: 2rem
  +rmin(1800)
    margin-top: 4.5rem
    .features-iptv &
      margin-top: 6rem
  +rmin(1950)
    margin-top: 6rem
  +sm
    display: none

.onvif
  right: 50%
  top: 73px
  margin-right: percentage(218/1200)
  +md
    margin-right: 200px

.motion
  top: 246px
  left: 50%
  margin-left: percentage(222/1200)
  width: 240px
  height: 240px
  &__item
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    &:before
      content: ""
      display: block
      +image(240,240,motion)
  &__1
    // background: img-url('motion1.png') no-repeat center
    // width: 240px
    // height: 240px
    // margin: -120px 0 0 -120px
    animation: spin 4s linear infinite
  &__2
    // background: img-url('motion2.png') no-repeat center
    // width: 152px
    // height: 152px
    // margin: -76px 0 0 -76px
    // top: 10px
    // left: -120px
    animation: spinback 3s linear infinite
    &:before
      transform: scale(-0.63, 0.63)
  &__3
    // background: img-url('motion3.png') no-repeat center
    // width: 82px
    // height: 82px
    // margin: -41px 0 0 -41px
    // top: 37px
    // left: -17px
    animation: spinback 3.5s linear infinite
    &:before
      transform: scale(-0.34, 0.34)
  +md
    margin-left: 180px

@keyframes spin
  to
    transform: rotate(360deg)

@keyframes spinback
  to
    transform: rotate(-360deg)

.web-access
  width: 393px
  height: 288px
  top: 556px
  right: 50%
  margin-right: percentage(158/1200)
  &:before
    content: "" 
    display: block
    +image(393,288,mouse)
    transform: translate(-60px, -55px)
    transition: transform 1.5s ease
  &.animate
    &:before
      transform: translate(0, 0)
  +md
    margin-right: 150px


.mobile-app
  top: 638px
  left: 50%
  margin-left: percentage(127/1200)
  +image(587,519,smartphone)
  &__interface
    position: absolute
    top: 0
    left: 0
    svg path
      stroke-dasharray: 500px !important
      stroke-dashoffset: 500px !important
      transition: stroke-dashoffset 2s ease
  &.animate
    .mobile-app__interface 
      svg path
        stroke-dashoffset: 0 !important
        transition-delay: 0.5s !important
  +md
    margin-left: 140px

.clouds
  top: 60px
  right: 50%
  margin-right: percentage(140/1200)
  width: 670px
  height: 360px
  > *
    position: absolute
  &__cloud
    position: absolute
    top: 0
    left: 0
    width: 270px
    height: 270px
    background: img-url('cloud.png') no-repeat center
    background-size: contain
    animation: cloud 7s linear infinite
    @for $i from 1 through 20
      &:nth-child(#{$i})
        animation-delay: random(10) + s
  &__cloud_2
    background-image: img-url('cloud2.png')
  &__cloud_3
    background-image: img-url('cloud3.png')
  &__logo-amazon
    position: absolute
    top: 26px
    left: 80px
    background: img-url('amazon.png') no-repeat center
    background-size: contain
    width: 140px
    height: 55px
  &__logo-openstack
    position: absolute
    top: 70px
    left: 250px
    background: img-url('openstack.png') no-repeat center
    background-size: contain
    width: 86px
    height: 82px

  &__layer-1
    top: -30px
    left: 30px
  &__layer-2
    top: 0
    left: -60px
    opacity: 0.7
    background-size: 70%
  &__layer-3
    top: 60px
    left: -30px
    background-size: 70%
  &__layer-4
    top: 48px
    left: 90px
    opacity: 0.7
  &__layer-5
    top: 40px
    left: auto
    right: 28px
    background-size: 80%
  &__layer-6
    top: 40px
    left: auto
    right: -55px
    background-size: 70%
    opacity: 0.7
  &__layer-7
    top: 70px
    left: auto
    right: 23px
    background-size: 80%
    opacity: 0.6
  &__layer-8
    top: 90px
    left: 80px
    background-size: 70%

  .cloud1
    background: img-url('cloud1.png') no-repeat center
    background-size: contain
  .cloud2
    background: img-url('cloud2.png') no-repeat center
    background-size: contain
  .cloud3
    background: img-url('cloud3.png') no-repeat center
    background-size: contain
  .cloud4
    background: img-url('cloud4.png') no-repeat center
    background-size: contain

  &__cld1
    width: 215px
    height: 215px
    top: 90px
    transform: rotate(25deg)
  &__cld2
    width: 190px
    height: 190px
    left: 410px
    top: 125px
    transform: rotate(-15deg)
  &__cld3
    width: 185px
    height: 185px
    top: 130px
    left: 70px
    opacity: 0.7
  &__cld4
    width: 240px
    height: 240px
    left: 290px
    top: 90px
    transform: rotate(-30deg)
  &__cld5
    width: 350px
    height: 350px
    left: 110px
  &__cld6
    width: 200px
    height: 200px
    left: 275px
    top: 140px
    opacity: 0.5
    transform: rotate(115deg)
  &__cld7
    width: 260px
    height: 260px
    left: 100px
    top: 70px
    opacity: 0.7
    transform: rotate(-5deg)
  &__cld8
    width: 140px
    height: 140px
    left: 424px
    top: 170px
    transform: rotate(40deg)
    opacity: 0.6
  &__amazon
    width: 109px
    height: 44px
    left: 290px
    top: 115px
    background: img-url('amazon.png') no-repeat center
    background-size: contain
  &__openstack
    width: 60px
    height: 66px
    left: 420px
    top: 175px
    background: img-url('openstack.png') no-repeat center
    background-size: contain

  +md
    margin-right: 120px

.clouds__cld1
  animation: CLD1 19s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950)
.clouds__cld2
  animation: CLD2 19s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950)
.clouds__cld3
  animation: CLD3 16s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950)
.clouds__cld4
  animation: CLD4 25s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950)
.clouds__cld5
  animation: CLD5 18s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950)
.clouds__cld6
  animation: CLD6 16s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950)
.clouds__cld7
  animation: CLD7 27s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950)
.clouds__cld8
  animation: CLD8 15s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950)

@keyframes cloud
  0%, 100%
    opacity: 1
    transform: translate3d(0,0,0)
  50%
    opacity: 0
    transform: translate3d(50px,0,0)
  51%
    opacity: 0
    transform: translate3d(-50px,0,0)

.transcoder
  right: 50%
  margin-right: percentage(255/1200)
  top: 465px
  width: 233px
  height: 400px
  background: img-url('transcoder.png') no-repeat center
  background-size: contain
  &__lightning
    width: 100px
    height: 100px
    position: absolute
    top: 50%
    left: 50%
    margin: -47px 0 0 -44px
  +md
    margin-right: 200px
  +rmin(1800)
    margin-right: percentage(240/1200)

.hdd
  top: 495px
  left: 50%
  margin-left: percentage(210/1200)
  +image(395,540,hdd)
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    +image(395,540,hdd-lights)
    animation: blink 2s ease-in-out infinite
  +md
    margin-left: 196px

@keyframes blink
  0%, 100%
    opacity: 0
  50%
    opacity: 1


.lego
  top: 300px
  left: 50%
  margin-left: percentage(218/1200)
  &__brick-upper
    position: absolute
    z-index: 1
    top: -92px
    left: 65px
    +image(267,202,lego-blue)
    transform: translateY(-100px)
    transition: transform 1.5s ease
  &__brick-lower
    position: relative
    z-index: 0
    +image(267,202,lego-orange)
  &.animate
    .lego__brick-upper
      transform: translateY(0)
  +md
    margin-left: 200px

.form
  &.is-mod
    .field__label
      text-transform: initial
  &__row
    +clr
    [class^="col"]
      float: left
      width: 47%
      margin-left: 6%
      +r(768)
        margin: 20px 0 0
        width: 100%
        &:first-child
          margin: 0
      &:first-child
        margin-left: 0
  &__left
    width: 55% 
    +r(1200)
      width: 100%
  .btn
    margin-top: 44px
  +sm
    .btn
      margin-top: 20px

.field,
.select-field
  position: relative
  margin: 20px 0
  &.is-textarea
    textarea
      padding-right: 55px
      height: 66px 
      height: 7rem 
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0
  .field__label
    position: absolute
    top: em(11,16)
    left: 0
    
.field__label
  +f(l, 16, 150)
  text-transform: uppercase
  color: #9D9CA7

.select-field
  padding: 10px 0 9px 120px
  padding: 1rem 0 0.9rem 12rem
  line-height: 1.2
  box-sizing: border-box
  border-bottom: 1px solid rgba(black, 0.2)
  .select
    width: 100%


.input
  display: block
  box-sizing: border-box
  height: 40px
  height: 4rem
  padding: 10px 0 9px 120px
  padding: 1rem 0 0.9rem 12rem
  width: 100%
  appearance: none
  background: none
  border: none
  border-bottom: 1px solid rgba(black, 0.2)
  +f(r, 20)
  color: black
  resize: none
  border-radius: 0
  +placeholder
    +f(l, 16, 150)
    text-transform: uppercase
    color: #9D9CA7

textarea.input
  max-height: 200px
  line-height: 1.3
  padding-top: 0.7rem
  padding-bottom: 0.6rem
  +smooth-scroll


.news
  line-height: 1.5625
  &:not(:last-child)
    margin-bottom: 25px
  &_important
    +rmin(767)
      .news__title
        font-size: 25px
        font-size: 2.5rem
      .news__text
        font-size: 22px
        font-size: 2.2rem
        margin: 10px 0
      .news__date
        font-size: 16px
        font-size: 1.6rem

.news__title
  +f(r)

.news__date
  display: block
  font-size: 14px
  font-size: 1.4rem
  margin-top: 5px
  color: $color-grey


.message
  display: block
  margin-top: 35px
  padding: 10px
  padding: 1rem
  box-sizing: border-box
  text-align: center
  +f(l, 16)
  line-height: 1.6
  background: #8CFFB7
  &_error
    background: transparent
  border-radius: 2px

.customers
  +sm
    .customers__list
      column-count: 2
  +xs
    .customers__list
      margin: 0
      column-count: initial
      column-gap: initial
    .customers__list-item
      display: block
      width: auto
      margin: 20px 0 0 0
      padding: 0

.customers__list
  font-size: 0
  margin: 0 0 -50px
  column-count: 3
  column-gap: 60px

.customers__list-item
  display: inline-block
  vertical-align: top
  font-size: 16px
  font-size: 1.6rem
  width: 100%
  box-sizing: border-box
  margin-bottom: 50px
.customer__text
  margin-top: 5px

.customer
  &:hover
    .customer__pic
      filter: grayscale(0)
      opacity: 1
    .customer__link
      color: red
      border-color: rgba(red, 0.3)
  +sm
    .customer__pic
      height: auto
      max-height: 60px
      line-height: normal

.customer__pic
  height: 60px
  height: 6rem
  margin-bottom: 10px
  margin-bottom: 1rem
  line-height: 60px
  line-height: 6rem
  font-size: 0
  filter: grayscale(1)
  opacity: 0.4
  +gpu
  +trans
  a
    display: inline-block
    height: 100%
    border: none
    text-decoration: none
    max-width: 100%
  img
    display: inline-block
    vertical-align: middle
    max-height: 60px
    max-width: 100%

.customer__link
  display: inline-block
  +f(l, 12)
  &:not(:hover)
    color: $color-grey
    border-color: rgba($color-grey, 0.3)

.icon-link
  display: inline-block
  vertical-align: top
  margin-right: 40px
  color: $color-blue
  text-decoration: none
  line-height: 1.375
  +trans(color)
  .svg-icon
    display: block
    font-size: 40px
    font-size: 4rem
    fill: currentColor
    margin-bottom: 5px
  .lnk
    +trans(border-color)
  &:hover
    color: red
    .lnk
      border-color: rgba(red, 0.3)

.social-link
  display: inline-block
  vertical-align: middle
  text-decoration: none
  margin-right: 20px
  text-align: center
  color: inherit
  +trans
  transition-property: color, opacity
  &:last-child
    margin-right: 0
  .svg-icon
    fill: currentColor
    display: block
    margin: auto
  .svg-facebook
    font-size: 32px
    font-size: 3.2rem
  .svg-twitter
    font-size: 24px
    font-size: 2.4rem
  .svg-youtube-play
    font-size: 20px
    font-size: 2rem
  &:hover
    color: inherit
    opacity: 0.8

.hidden-text
  +hide-text

.map
  height: 445px
  height: 44.5rem
  // border: 1px solid rgba($color-blue, 0.3)
  // border-width: 1px 0
  +sm
    height: 250px

.map__placeholder
  height: 100%
  background: img-url('map.jpg') no-repeat center
  background-size: cover

.footer
  padding: 15px 15px 20px
  color: $color-grey
  +f(l, 12)
  line-height: 1.5
  border-top: 1px solid rgba($color-grey, 0.3)
  a
    &:not(:hover)
      color: inherit
      border-color: rgba($color-grey, 0.3)
  +clr
  +xs
    text-align: center
    .footer__left
      float: none
      margin-top: 10px
    .footer__right
      float: none
      width: auto
    .site-maker
      left: 0

.footer__left
  float: left

.footer__right
  float: right
  width: 50%

.partners
  padding: 29px 0 33px
  text-align: center

.partners__title
  margin-bottom: 16px
  +f(l, 12, 180)
  line-height: 1
  text-transform: uppercase
  color: $color-blue

.partners__item
  display: inline-block
  vertical-align: middle
  opacity: 0.4
  filter: grayscale(1)
  +trans()
  &:not(:last-child)
    margin-right: 25px
  &:hover
    filter: grayscale(0)
    opacity: 1
  a
    border: none

.partner-logo
  display: inline-block
  vertical-align: middle
  opacity: 0.6
  cursor: pointer
  +trans()
  margin: 10px 10px 0 0
  > img
    display: block
  &:hover
    opacity: 1


.site-maker
  +clr
  min-width: 278px
  position: relative
  left: -45px
  > img,
  .logo-als
    float: left
    margin: 4px 12px 0 0
  +xs
    > img,
    .logo-als
      float: none
      display: block
      margin: 0 auto 10px

%dot
  position: absolute
  content: ""
  width: 4px
  height: 4px
  background: red 

// .dot
//   .hero-figure-ipcam
//     &:before
//       @extend %dot
//       top: 240px
//       left: 468px
//   .hero-figure-iptv
//     &:before
//       @extend %dot
//       top: 240px
//       left: 468px
//   .onvif
//     &:before
//       @extend %dot
//       top: 26px
//       left: 252px
//   .web-access
//     &:before
//       @extend %dot
//       top: 10px
//       left: 97px
//   .mobile-app
//     &:before
//       @extend %dot
//       top: 28px
//       left: 120px
//   .lego
//     &:after
//       @extend %dot
//       bottom: 0
//       left: 104px
//   .hdd
//     &:after
//       @extend %dot
//       top: 382px
//       left: 15px
//   .transcoder
//     &:before
//       @extend %dot
//       top: 3px
//       left: 90px
//     &:after
//       @extend %dot
//       bottom: 10px
//       left: 204px

.fade-in
  transition: all 0.5s ease
  transition-property: opacity, transform
  opacity: 0
  &.slide-up
    transform: translateY(10px)
  &.animate
    opacity: 1
    transform: translateY(0)

@keyframes CLD1
  0%, 100%
    transform: rotate(25deg) translateX(0)
  50%
    transform: rotate(35deg) translateX(-10px)

@keyframes CLD2
  0%, 100%
    transform: rotate(-15deg) translateX(0px)
  50%
    transform: rotate(3deg) translateX(10px)

@keyframes CLD3
  0%, 100%
    transform: rotate(0deg)
  50%
    transform: rotate(-15deg)

@keyframes CLD4
  0%, 100%
    transform: rotate(-30deg) translateX(0px)
  50%
    transform: rotate(-45deg) translateX(15px)

@keyframes CLD5
  0%, 100%
    transform: rotate(0deg) translateX(0)
  50%
    transform: rotate(12deg) translateX(10px)

@keyframes CLD6
  0%, 100%
    transform: rotate(115deg)
  50%
    transform: rotate(130deg)

@keyframes CLD7
  0%, 100%
    transform: rotate(-5deg) translateX(0)
  50%
    transform: rotate(-30deg) translateX(-5px)

@keyframes CLD8
  0%, 100%
    transform: rotate(40deg)
  50%
    transform: rotate(25deg)

.safari
  #lightning-shape path
    filter: none

.request__text
  margin-top: 20px