// styles for inner pages
.header_inner
	position: absolute
	background: transparent
	+trans(background, box-shadow)
	// &.scrolled
		// position: absolute
		// background: $blue
		// box-shadow: 0 0 10px 0 rgba(black, 0.3)
	.logo
		color: #fff
	.nav
		margin-left: 10px
		+r(1000)
			padding-top: 10px
		+sm
			margin-left: 0
	.nav__item
		+r(900)
			margin-right: 18px
			&:last-child
				margin-right: 0
		&.is-active
			a
				border-bottom: none
				&:hover
					opacity: 1
				&:before
					display: block
		&:last-child
			line-height: 1.5 
			a
				position: relative
				top: 5px
				border-bottom: none 
		.link
			color: #fff
			border-color: rgba(#fff, 0.5) 
			&:hover 
				color: #fff
				+sm
					color: #003CFF
			+sm
				color: #003CFF
				border-color: rgba(0, 60, 255, 0.3)
		a
			position: relative
			transition: opacity .2s, border-color .2s
			&:hover
				color: #fff
				opacity: .7 
				border-color: rgba(#fff, 0.3) 
				+sm
					color: #003CFF
					border-color: rgba(0, 60, 255, 0.3)
			&:before
				position: absolute
				content: ""
				top: -6px
				left: -10px
				right: -10px
				bottom: -6px
				border-radius: 2px
				border: 2px solid #003cff
				transition: border-color .3s
				display: none
				+sm
					top: 0
					bottom: 0
			svg
				path
					fill: #fff
					transition: fill 200ms 	
	.lang
		a
			color: rgba(#fff, 0.5)
			transition: border-color .2s, color .2s
			line-height: 1.2
			border-bottom: 1px solid rgba(#fff, .2) 
			display: inline-block
			&:hover
				color: red
				border-color: rgba(red, .5) 
.toparea_inner
	position: relative
	background: $blue 
	// url(../img/features-cubes.svg) 110% 0 no-repeat
	// background-size: auto 120% 
	color: #fff
	+r(1400)
		padding-top: 130px
		padding-bottom: 95px
	+r(568)
		text-align: center
		box-sizing: border-box
		background-position: 50% 0 
	.toparea__in
		position: relative
		max-width: 640px
		padding: 100px 0 
		+r(1400)
			padding: 100px 0
		.title
			font-size: 7rem
			margin-bottom: 20px
			+r(900)
				font-size: 5rem
		p
			font-size: 1.6rem
.toparea__svg
	position: absolute
	right: -50px
	bottom: -20px
	svg
		display: none
		
.about
	.about__in
		+lg
			padding: 0 20px
		+r(1280)
			padding-right: 65px
		+r(900)
			padding: 0 	 
	.about__list
		padding-left: 60px
		margin-left: -60px
		column-count: 3
		column-gap: 10px
		font-size: 0
		padding: 20px 0 77px
		+r(1280)
			column-count: 2
			column-gap: 0
		+r(900)
			padding-left: 0
			margin-left: 0
		+sm
			padding: 40px 0 10px
		+r(560)
			column-count: initial
			column-gap: initial
	.about__item
		position: relative
		padding-left: 60px
		padding-right: 20px
		display: inline-block
		vertical-align: top
		max-width: 500px
		margin-top: 50px
		font-size: 18px
		box-sizing: border-box
		+r(900)
			padding-left: 0
		&:hover
			.star
				opacity: 1
		+r(560)
			width: 100%
			margin-top: 40px 
		ul
			max-width: 360px
			+sm
				max-width: 100%
				font-size: 1.6rem
			li
				position: relative
				margin-bottom: 10px
				&:before
					content: ""
					position: absolute
					top: 10px
					left: -15px
					width: 3px
					height: 3px
					border-radius: 50%
					background: #003cff
					+r(900)
						display: none
	.star
		position: absolute
		top: 5px
		left: 0
		opacity: 0
		transition: opacity 200ms
		+r(1280)
			left: 10px
		+r(900) 
			display: none
		span
			will-change: transform
		+lg
			top: 0
		+sm
			display: none	
	.about__link
		position: relative
		max-width: 360px
		margin-bottom: 25px
		.lnk
			font-size: 3.5rem
			+r(900)
				font-size: 2.5rem

@keyframes pulse
	0%
		transform: scale(0.4)
	50%
		transform: scale(1.2)	
	100%
		transform: scale(0.4)
@keyframes pulse-in
	0%
		transform: scale(0.4)
	15%
		transform: scale(1)	
	50%
		transform: scale(2)
	85%
		transform: scale(1)	
	100%
		transform: scale(0.4)			
.star
	position: relative
	width: 40px
	height: 40px
	border-radius: 50%
	.star__lines
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		border-radius: 50%
		animation: pulse 1s infinite
	.star__center
		position: absolute
		top: 12px
		left: 12px
		width: 16px
		height: 16px
		border-radius: 50%
		background: #fff
		animation: pulse-in 1s infinite
		z-index: 2	
	.star__lr
		position: absolute
		top: 19px
		left: 0
		width: 40px
		transform: rotate(45deg)
		transform-origin: 50% 50%
		height: 2px
		background: #003CFF
	.star__rl
		position: absolute
		top: 19px
		left: 0
		width: 40px
		transform: rotate(-45deg)
		transform-origin: 50% 50%
		height: 2px
		background: #003CFF	 
	.star__vertical
		position: absolute
		top: 0
		bottom: 0
		left: 19px
		width: 2px
		background: #003CFF
	.star__horizontal
		position: absolute
		left: 0
		right: 0
		top: 19px
		height: 2px
		background: #003CFF

.offer
	margin-top: 33px
	.title
		margin-bottom: 45px
		+sm
			text-align: center
			
	.offer__list
		+clr
		+sm
			padding: 0 20px 
	.offer__item
		position: relative
		float: left
		width: 50%
		max-width: 500px
		padding-right: 18vh
		font-size: 18px
		box-sizing: border-box
		+r(1200)
			padding-right: 15px
		+sm
			float: none
			width: 100%
			clear: both
			margin-bottom: 40px 		 
		a
			display: inline-block
			margin-bottom: 10px
			font-size: 18px
			font-weight: 300
			color: #003cff	
			&:hover
				color: red
		p
			color: #000
		+r(568)
			text-align: center
			a
				display: inline
			p
				padding-top: 10px	
						   
	.offer__icon
		position: absolute
		top: 0
		right: 100%
		margin-right: 20px
		margin-right: 22px
		opacity: 0.5
		+r(1200)
			position: relative
			float: left
			right: auto
		.svg-cam, .svg-antenna
			font-size: 8.4rem
			fill: #000
		+r(568)
			float: none
			display: block
			margin-bottom: 20px
.blue 
	background: $blue
	color: #fff
	.input
		color: #FFF 
		border-bottom-color: rgba(#fff, .5) 
	a
		border-color: rgba(#fff, .5) 
		transition: opacity .2s, border-color .2s
		&:hover
			color: #FFF 
			opacity: 0.7
			border-color: rgba(#fff, .4) 
	.lnk
		border-color: rgba(#fff, .5)

.section-request
	&.blue
		padding: 120px 0 
		.input, textarea.input
			border-color: rgba(#fff, 0.5)
		+lg
			padding: 100px 0
		+sm
			padding: 80px 0
		+r(568)
			padding: 60px 0 	  	
.footer_inner,
.footer_type
	border-top: none
	.l
		+clr
	.footer__left
		+sm
			float: none
			width: 100%
			text-align: center
			margin-bottom: 20px 	
	.footer__right
		width: auto
		float: left
		margin-left: 15px
		+sm
			width: 100%
			float: none
			text-align: center
			margin-left: 0  
	.footer__nav
		ul
			font-size: 0
			li
				display: inline-block
				vertical-align: middle
				margin-left: 10px
				&:first-child
					margin-left: 0 
				a
					font-size: 12px
					font-weight: 300
					color: #999
					&:hover
						color: red 

