<!-- BEGIN about -->
<section class="about l fade-in slide-up">

  <div class="about__in">
    <div class="about__list">
      <div class="about__item">
        <div class="star">
          <div class="star__lines">
            <span class="star__vertical"></span>
            <span class="star__lr"></span>
            <span class="star__rl"></span>
            <span class="star__horizontal"></span>
          </div>
          <span class="star__center"></span>
        </div>
        <div class="about__link">
          <a href="#" class="lnk">VOD streaming</a>
        </div>
        <ul>
          <li>Streaming from MP4 and FLV files</li>
          <li>RTMP, HLS, HDS, DASH, RTSP delivery</li>
          <li>Multibitrate and multilanguage MP4 streaming</li>
          <li>Support for HTTP storages</li>
          <li>SSD media caching</li>
          <li>Industry unique cache-aware HLS file delivery</li>
        </ul>
      </div>
      <div class="about__item">
        <div class="star">
          <div class="star__lines">
            <span class="star__vertical"></span>
            <span class="star__lr"></span>
            <span class="star__rl"></span>
            <span class="star__horizontal"></span>
          </div>
          <span class="star__center"></span>
        </div>
        <div class="about__link">
          <a href="#" class="lnk">Video recording</a>
        </div>
        <ul>
          <li>Automatic DVR cleanup</li>
          <li>EPG based DVR access</li>
          <li>Timeshifted restreaming</li>
          <li>MPEG-TS, HLS, HDS, RTSP, RTMP access to DVR</li>
          <li>Screenshots of recording</li>
          <li>DVR exporting</li>
        </ul>
      </div>
      <div class="about__item">
        <div class="star">
          <div class="star__lines">
            <span class="star__vertical"></span>
            <span class="star__lr"></span>
            <span class="star__rl"></span>
            <span class="star__horizontal"></span>
          </div>
          <span class="star__center"></span>
        </div>
        <div class="about__link">
          <a href="#" class="lnk">Live streaming</a>
        </div>
        <ul>
          <li>Satellite capturing</li>
          <li>Transcoding</li>
          <li>IP cameras support</li>
          <li>Stream thumbnails</li>
          <li>Republishing between servers</li>
          <li>MPEG-2 support</li>
        </ul>
      </div>
      <div class="about__item">
        <div class="star">
          <div class="star__lines">
            <span class="star__vertical"></span>
            <span class="star__lr"></span>
            <span class="star__rl"></span>
            <span class="star__horizontal"></span>
          </div>
          <span class="star__center"></span>
        </div>
        <div class="about__link"><a href="#" class="lnk">Internal statistics collection</a></div>
        <ul>
          <li>All protocol sessions accounting (RTMP, MPEG-TS, HLS, HDS)</li>
          <li>Measuring per-stream traffic</li>
          <li>Geo-stats and geo-lock</li>
        </ul>
      </div>
      <div class="about__item">
        <div class="star">
          <div class="star__lines">
            <span class="star__vertical"></span>
            <span class="star__lr"></span>
            <span class="star__rl"></span>
            <span class="star__horizontal"></span>
          </div>
          <span class="star__center"></span>
        </div>
        <div class="about__link"><a href="#" class="lnk">Web UI configuration</a></div>
        <ul>
          <li>General monitoring</li>
          <li>Server call statistics</li>
          <li>Support</li>
        </ul>
      </div>
      <div class="about__item">
        <div class="star">
          <div class="star__lines">
            <span class="star__vertical"></span>
            <span class="star__lr"></span>
            <span class="star__rl"></span>
            <span class="star__horizontal"></span>
          </div>
          <span class="star__center"></span>
        </div>
        <div class="about__link"><a href="#" class="lnk">API</a></div>
        <ul>
          <li>External HTTP backend authorization</li>
          <li>Full control over server via HTTP</li>
          <li>Realtime event feed via HTTP</li>
          <li>Monitoring HTTP</li>
          <li>SQL API with access to history</li>
        </ul>
      </div>
    </div>
  </div>

 </section>

 <div class="offer l">
   <div class="title">What we offer</div>
   <div class="offer__list">
     <div class="offer__item">
       <span class="offer__icon">{{mixins.svgIcon('cam')}}</span>
       <a href="#" class="lnk">Solutions for video surveillance</a>
       <p>What we offer for clients who work with IP cameras</p>
     </div>
     <div class="offer__item">
       <span class="offer__icon">{{mixins.svgIcon('antenna')}}</span>
       <a href="#" class="lnk">Solutions for video surveillance</a>
       <p>What we offer for clients who work with IP cameras</p>
     </div>
   </div>
 </div>
<!-- END about -->
