<!-- BEGIN about -->
<section class="about l fade-in slide-up">

  <div class="about__in">
    <div class="about__list">
      <div class="about__item">
        <div class="star">
          <img src="img/gif/live-video.gif" class="x1" alt="img">
          <img src="img/gif/live-video-x2.gif" class="x2" alt="img">
        </div>
        <div class="about__link">
          <a class="lnk" href="/doc/live">Live streaming</a>
        </div>
    <ul>
      <li>TV channels from satellite</li>
      <li>IP cameras support</li>
      <li>HDMI/SDI capture cards</li>
      <li>Republishing between servers</li>
      <li>H264, H265, MPEG-2 support</li>
      <li>Server side playlists</li>
      <li>Shoutcast radio support</li>
      <li>Up to 1600 streams on single server</li>
      <li>Failover sources for a stream</li>
      <li>H264, H265, MPEG-2 Video, MPEG-2 Audio, AAC, AC3, MP3, G711a/u</li>
    </ul>
    </div>
    <div class="about__item">
    <div class="star">
      <img src="img/gif/live-video.gif" class="x1" alt="img">
      <img src="img/gif/live-video-x2.gif" class="x2" alt="img">
    </div>
    <div class="about__link">
    <a class="lnk" href="/doc/transcoder">Transcoding</a>
    </div>
    <ul>
    <li>CPU based transcoding</li>
    <li>Intel QuickSync support</li>
    <li>Nvidia nvenc support</li>
    <li>Multibitrate output</li>
    <li>Failover configuration</li>
    <li>Stream thumbnails</li>
    </ul>
    </div>
    <div class="about__item">
    <div class="star">
      <img src="img/gif/access.gif" class="x1" alt="img">
      <img src="img/gif/access-x2.gif" class="x2" alt="img">
    </div>
    <div class="about__link">
    <a class="lnk" href="/doc/auth">Content protection</a>
    </div>
    <ul>
    <li>Accounting sessions on all protocols</li>
    <li>simple integration with any website</li>
    <li>connection limit per single user</li>
    <li>Geo-lock, hotlink protection</li>
    <li>Multiple auth backend support</li>
    <li>Accounting session statistics</li>
    <li>DRM support</li>
    </ul>
    </div>
    <div class="about__item">
    <div class="star">
      <img src="img/gif/archive.gif" class="x1" alt="img">
      <img src="img/gif/archive-x2.gif" class="x2" alt="img">
    </div>
    <div class="about__link">
    <a class="lnk" href="/doc/dvr">Video recording</a>
    </div>
    <ul>
    <li>Multilanguage multibitrate video archive with metadata</li>
    <li>EPG based DVR access</li>
    <li>Timeshift from DVR</li>
    <li>MPEG-TS, HLS, HDS, RTSP, RTMP access to DVR</li>
    <li>screenshots recording</li>
    <li>DVR exporting</li>
    <li>automatic DVR cleanup</li>
    </ul>
    </div>
    <div class="about__item">
      <div class="star">
        <img src="img/gif/video-stream.gif" class="x1" alt="img">
        <img src="img/gif/video-stream-x2.gif" class="x2" alt="img">
      </div>
    <div class="about__link">
    <a class="lnk" href="/doc/vod">VOD streaming</a>
    </div>
    <ul>
    <li>streaming from mp4 and flv files</li>
    <li>RTMP, HLS, HDS, DASH, RTSP delivery</li>
    <li>Multibitrate and multilanguage mp4 streaming</li>
    <li>Support for HTTP storages like http server, Amazon S3, Swift</li>
    <li>SSD media caching</li>
    </ul>
    </div>
    <div class="about__item">
    <div class="star">
      <img src="img/gif/clusters.gif" class="x1" alt="img">
      <img src="img/gif/clusters-x2.gif" class="x2" alt="img">
    </div>
    <div class="about__link">
    <a class="lnk" href="/doc/cdn">Clusterisation</a>
    </div>
    <ul>
    <li>cluster support when one server is not enough</li>
    <li>failover protected cluster ingest</li>
    <li>mirroring streams from origin to edges</li>
    <li>multi-source edges</li>
    <li>DVR replication</li>
    <li>multi-server cached VOD streaming</li>
    </ul>
    </div>
    <div class="about__item">
    <div class="star">
      <img src="img/gif/settings.gif" class="x1" alt="img">
      <img src="img/gif/settings-x2.gif" class="x2" alt="img">
    </div>
    <div class="about__link">
    <a class="lnk" href="/doc/interface">Web interface</a>
    </div>
    <ul>
    <li>Web access to all features</li>
    <li>Configuration from browser</li>
    <li>Access to statistics</li>
    <li>Monitoring</li>
    </ul>
    </div>
    <div class="about__item">
        <div class="star">
          <img src="img/gif/docs.gif" class="x1" alt="img">
          <img src="img/gif/docs-x2.gif" class="x2" alt="img">
        </div>
        <div class="about__link">
          <a class="lnk" href="/doc/api">API Flussonic</a>
        </div>
        <ul>
          <li>Full control over server via HTTP</li>
          <li>realtime event feed via HTTP</li>
          <li>external HTTP backend authorization</li>
          <li>monitoring HTTP</li>
          <li>SQL API</li>
          <li>SQL access to history</li>
        </ul>
      </div>
    </div>
  </div>

 </section>

 <div class="offer l">
   <div class="title">What we offer</div>
   <div class="offer__list">
     <div class="offer__item">
       <span class="offer__icon">{{mixins.svgIcon('cam')}}</span>
       <a href="iptv.html" class="lnk">Solutions for video surveillance</a>
       <p>What we offer for clients who work with IP cameras</p>
     </div>
     <div class="offer__item">
       <span class="offer__icon">{{mixins.svgIcon('antenna')}}</span>
       <a href="watcher.html" class="lnk">Solutions for video surveillance</a>
       <p>What we offer for clients who work with IP cameras</p>
     </div>
   </div>
 </div>
<!-- END about -->
