<!-- section -->
<section class="section section_iptv">
	<div class="l">
		<!-- row -->
		<div class="row fade-in slide-up">
			<div class="col-right">
				<h3 class="title title_small">Работа с камерами</h3>
				<p>Вы сможете не только добавлять и настраивать камеры по ONVIF, но и работать с поворотными камерами (PTZ). Watcher позволяет собирать до 32 камер в мозаику на сервере и показывать их через браузер с возможностью сохранить фрагменты архива и поделиться ими.</p>
				<div class="img-anim is-cam">
					<img src="./img/cam-x2.png" class="is-hidden" alt="img">
					<img src="./img/cam-light-x2.png" alt="img" class="img-anim__fade is-hidden">
				</div>
			</div>
		</div>
		<!-- row -->
		<div class="row fade-in slide-up">
			<div class="col-left">
				<h3 class="title title_small">Кластеризация</h3>
				<p>Если одного сервера не хватает, Watcher может работать с несколькими, обеспечивая резервирование и работоспособость всего сервиса при выходе из строя одного из серверов.</p>
				<div class="img-anim is-cub">
					<img src="./img/cluster2-x2.png" class="img-anim__cub-2 is-hidden" alt="img">
					<img src="./img/cluster3-x2.png" class="img-anim__cub-3 is-hidden" alt="img">
					<img src="./img/cluster1-x2.png" class="img-anim__cub-1 is-hidden" alt="img">
				</div>
			</div>
		</div>
		<!-- row -->
		<div class="row fade-in slide-up">
			<div class="col-right">
				<h3 class="title title_small">Пользователи</h3>
				<p>Можно объединять пользователей в группы, импортировать из биллинга, пользоваться авторизацией через Radius-сервер, разграничивать доступ к просмотру камер и архивных видеофайлов.</p>
				<div class="img-anim is-trace">
					<div class="img-anim__overlay"></div>
					{% include "../../img/svg/finger1.svg" %}
				</div>
			</div>
		</div>
		<!-- row -->
		<div class="row fade-in slide-up">
			<div class="col-left">
				<h3 class="title title_small">Мобильный доступ</h3>
				<p>Flussonic Watcher доступен из обычного браузера на мобильном телефоне. Кроме того, есть мобильные приложения для удобства работы.</p>
				<div class="img-anim is-phone">
					<img src="img/svg/phone1.svg" class="is-hidden" alt="img">
					<img src="img/svg/phone2.svg" class="is-hidden" alt="img">
				</div>
			</div>
		</div>
	</div>
</section>