<!-- BEGIN contacts -->
<section class="section section-contacts fade-in">
  <a name="about" data-shift="130"></a>
  <div class="l">
    <h2 class="title">{{contacts.whoweare}}</h2>
    <div class="row">
      <div class="col col-66">
        <div class="section-contacts__left text">
          <p>{{contacts.description}}</p>
          <p>{{mixins.svgIcon('map-marker-o')}} {{contacts.address}}</p>
        </div>
        <div class="social-media">
          <a href="https://facebook.com/flussonic" class="social-link" title="Facebook">
            {{mixins.svgIcon('facebook')}}
          </a>
          <a href="https://twitter.com/flussonic" class="social-link" title="Twitter">
            {{mixins.svgIcon('twitter')}}
          </a>
        </div>
      </div>

      <div class="col col-33">
        <p>{{contacts.partners}}</p>
        <p>
          <a href="/partners/iptvportal" class="partner-logo logo-iptvportal"></a>
          <a href="/partners/yisp" class="partner-logo logo-yisp"></a>
        </p>
      </div>
    </div>
</section>

<div class="map fade-in" id="map" data-marker-url='img/svg/map-marker.svg'>
  <div class="map__placeholder"></div>
</div>
<!-- END contacts -->
