<!-- BEGIN contacts -->
<section class="section section-contacts">
  <div class="l">
    <div class="section-contacts__cell text">
      <h2 class="title">Who we are</h2>
      <p>Erlyvideo, a company located in Moscow and developing video streaming software since 2009</p>
    </div>
    <div class="section-contacts__cell text">
      <div class="social-media">
        <a href="#" class="social-link" title="Facebook">
          {{mixins.svgIcon('facebook')}}
        </a>
        <a href="#" class="social-link" title="Twitter">
          {{mixins.svgIcon('twitter')}}
        </a>
        <a href="#" class="social-link" title="Youtube">
          {{mixins.svgIcon('youtube-play')}}
        </a>
      </div>
      {{mixins.svgIcon('map-marker')}}
      <p>107076, Moscow, Russia, <br>3-rd Vladimirskaya str., b. 25/1</p>
    </div>
  </div>
</section>
<div class="map" id="map">
  <div class="map__placeholder"></div>
</div>
<!-- BEGIN contacts -->
