<!-- BEGIN customers -->
<section class="section customers fade-in slide-up">
  <a name="clients"></a>
  <h2 class="title">Our customers</h2>
  <ul class="customers__list">
    {% for customer in customers %}
      <li class="customers__list-item customer">
        <div class="customer__pic">
          <img src="img/customers/{{customer.img}}">
        </div>
        <p class="customer__text text">{{customer.text}}</p>
        {% if customer.link %}<a class="customer__link lnk" href="#">{{customer.link}}</a>{% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
<!-- END customers -->
