<!-- BEGIN customers -->
<section class="section customers fade-in slide-up">
  <a name="clients"></a>
  <h2 class="title">{{customers1.ourcustomers}}</h2>
  <ul class="customers__list">
    {% for customer in customers %}
      <li class="customers__list-item customer"> 
        <div class="customer__pic">
          {% if customer.href %}
          <a href="{{customer.href}}"><img src="img/customers/{{customer.img}}"></a>
          {% else %}
          <img src="img/customers/{{customer.img}}">
          {% endif %}
        </div>
        <a href="#">{{customer.title_small}}</a>
        <p class="customer__text text">{{customer.text}}</p>
      </li>
    {% endfor %}
  </ul>
</section>
<!-- END customers -->
