<!-- BEGIN features -->
<section class="features features-ipcam">
  <div class="features__pic onvif">
    {% include "../../img/svg/onvif.svg" %}
  </div>
  <div class="features__pic motion">
    <div class="motion__item motion__1"></div>
    <div class="motion__item motion__2"></div>
    <div class="motion__item motion__3"></div>
  </div>
  <div class="features__pic "></div>
  <div class="features__pic"></div>
  <div class="features__center">
    <h2 class="title">Flussonic features</h2>
    <ul class="features__list">

      <li class="feature">
        <h3 class="feature__label">Onvif support</h3>
        <p class="feature__text">Automated discovery and configuration <br>for thousands of IP cameras</p>
      </li>

      <li class="feature">
        <h3 class="feature__label">Motion detection</h3>
        <p class="feature__text">Support for motion detection and <br>integration with video analytics systems</p>
      </li>

      <li class="feature">
        <h3 class="feature__label">Full web access</h3>
        <p class="feature__text">All features are accessible in browser <br>without any plugins</p>
      </li>

      <li class="feature">
        <h3 class="feature__label">Mobile apps</h3>
        <p class="feature__text">Mobile access to cameras <br>and their archive</p>
      </li>

    </ul>
  </div>
</section>
<!-- BEGIN features -->
