<!-- BEGIN features -->
<section class="features features-ipcam">
  <div class="features__center">
    <h2 class="title">Flussonic features</h2>
    <div class="features__list">

      <dl class="feature">
        <dt class="feature__label">Onvif support</dt>
        <dd class="feature__text">Automated discovery and configuration <br>for thousands of IP cameras</dd>
      </dl>

      <dl class="feature">
        <dt class="feature__label">Motion detection</dt>
        <dd class="feature__text">Support for motion detection and <br>integration with video analytics systems</dd>
      </dl>

      <dl class="feature">
        <dt class="feature__label">Full web access</dt>
        <dd class="feature__text">All features are accessible in browser <br>without any plugins</dd>
      </dl>

      <dl class="feature">
        <dt class="feature__label">Mobile apps</dt>
        <dd class="feature__text">Mobile access to cameras <br>and their archive</dd>
      </dl>

    </div>
  </div>
</section>
<!-- BEGIN features -->
