<!-- BEGIN features -->
<section class="features-container fade-in">
  <a name="overview" data-shift="70"></a>
  <div class="features features-ipcam is-active">
    <div class="feature-pic onvif">
      {% include "../../img/svg/onvif.svg" %}
    </div>
    <div class="feature-pic motion">
      <div class="motion__item motion__1"></div>
      <div class="motion__item motion__2"></div>
      <div class="motion__item motion__3"></div>
    </div>
    <div class="feature-pic web-access"></div>
    <div class="feature-pic mobile-app">
      <div class="mobile-app__interface">
        {% include "../../img/svg/mobile-interface.svg" %}
      </div>
    </div>
    <div class="features__center">
      <h2 class="title">{{features.features}}</h2>
      <ul class="features__list">

        <li class="feature">
          <h3 class="feature__label">{{features.onvif}}</h3>
          <p class="feature__text">{{features.onvif_info}}</p>
        </li>

        <li class="feature">
          <h3 class="feature__label">{{features.motion}}</h3>
          <p class="feature__text">
            {{features.motion_info}}
          </p>
        </li>

        <li class="feature">
          <h3 class="feature__label">{{features.web}}</h3>
          <p class="feature__text">{{features.web_info}}</p>
        </li>

        <li class="feature">
          <h3 class="feature__label">{{features.mobile}}</h3>
          <p class="feature__text">{{features.mobile_info}}</p>
        </li>

      </ul>
    </div>
  </div>

  <div class="features features-iptv">
    {# <div class="feature-pic clouds">
      <div class="clouds__cloud clouds__layer-1"></div>
      <div class="clouds__cloud clouds__layer-1"></div>
      <div class="clouds__logo-amazon"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-2"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-2"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-3"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-3"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-4"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-4"></div>
      <div class="clouds__cloud clouds__layer-5"></div>
      <div class="clouds__logo-openstack"></div>
      <div class="clouds__cloud clouds__layer-6"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-7"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-7"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-8"></div>
      <div class="clouds__cloud clouds__cloud_2 clouds__layer-8"></div>
    </div> #}
    <div class="feature-pic clouds">
      <div class="clouds__cld1 cloud2"></div>
      <div class="clouds__cld2 cloud3"></div>
      <div class="clouds__cld3 cloud3"></div>
      <div class="clouds__cld4 cloud2"></div>
      <div class="clouds__cld8 cloud4"></div>
      <div class="clouds__openstack"></div>
      <div class="clouds__cld5 cloud1"></div>
      <div class="clouds__amazon"></div>
      <div class="clouds__cld6 cloud4"></div>
      <div class="clouds__cld7 cloud4"></div>
    </div>
    <div class="feature-pic lego">
      <div class="lego__brick-upper"></div>
      <div class="lego__brick-lower"></div>
    </div>
    <div class="feature-pic transcoder">
      <div class="transcoder__lightning">
        {% include "../../img/svg/transcoder-lightning.svg" %}
      </div>
    </div>
    <div class="feature-pic hdd"></div>
    <div class="features__center">
      <h2 class="title">{{features.features}}</h2>
      <ul class="features__list">

        <li class="feature">
          <h3 class="feature__label">{{features.cloud}}</h3>
          <p class="feature__text">{{features.cloud_info}}</p>
        </li>

        <li class="feature">
          <h3 class="feature__label">{{features.mw}}</h3>
          <p class="feature__text">{{features.mw_info}}</p>
        </li>

        <li class="feature">
          <h3 class="feature__label">{{features.transcoder}}</h3>
          <p class="feature__text">{{features.transcoder_info}}</p>
        </li>

        <li class="feature">
          <h3 class="feature__label">{{features.dvr}}</h3>
          <p class="feature__text">{{features.dvr_info}}</p>
        </li>

      </ul>
    </div>
  </div>
</section>
<!-- END features -->
