<!-- BEGIN footer -->
<footer class="footer footer_type fade-in">
  <div class="l">
    <div class="footer__left">
      <span class="copyright">© Erlyvideo 2013-2016</span>
    </div>
    <div class="footer__right">
      <nav class="footer__nav">
        <ul>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Free trial</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">My account</a></li>
        </ul>
      </nav>
    </div>  
    
  </div>
</footer>
<!-- END footer -->
