<!-- BEGIN request -->
<section class="section section-request fade-in slide-up">
  <a name="trial"></a>
  <h2 class="title">Request a free trial</h2>
  <div class="row">
    <div class="col col-50">
      <form class="form" novalidate>
        <div class="field">
          <label for="name" class="field__label">Your name:</label>
          <input class="input" type="text" id="name">
        </div>
        <div class="field">
          <label for="email" class="field__label">E-mail:</label>
          <input class="input" type="email" id="email">
        </div>
        <div class="field">
          <label for="comment" class="field__label">Comment:</label>
          <textarea class="input" rows="1" id="comment" data-autoresize></textarea>
        </div>
        <button class="btn btn_solid btn_fluid" type="submit">Get a trial key</button>
        <div class="message">Your request has been sent. Thank you!</div>
      </form>
    </div>

    <div class="col col-50">
      <div class="request__text text">
        <p>
          Please fill this form to receive a trial key for
          your copy of our software. We usually reply within two days.
          You will get a fully functional 30-day trial.
        </p>
        <p>
          Subscription starts from $50 per month. Please <a class="lnk lnk_black" href="#">sign in</a> to buy
          a license if you have already tried Flussonic.
        </p>
        <p>
          <a class="lnk lnk_black" href="#">How to install Flussonic</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- END request -->
