<!-- BEGIN form -->
<section class="section request">
  <h2 class="title">Request a free trial</h2>
  <div class="row">
    <div class="col col-50">
      <form class="form">
        <div class="message">Your request has been sent. Thank you!</div>
        <div class="field">
          <input class="input" type="text" placeholder="Your name">
        </div>
        <div class="field">
          <input class="input" type="email" placeholder="E-mail">
        </div>
        <div class="field">
          <textarea class="input" rows="1" placeholder="Comment" data-autoresize></textarea>
        </div>
        <button class="btn btn_solid btn_fluid" type="submit">Get a trial key</button>
      </form>
    </div>

    <div class="col col-50">
      <div class="request__text text">
        <p>
          Please fill this form to receive a trial key for
          your copy of our software. We usually reply within two days.
          You will get a fully functional 30-day trial.
        </p>
        <p>
          Subscription starts from $50 per month. Please <a href="#">sign in</a> to buy
          a license if you have already tried Flussonic.
        </p>
        <p>
          <a href="#">How to install Flussonic</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- BEGIN form -->
