<!-- BEGIN header -->
<header class="header header_inner">
  <div class="l fade-in slide-up">
    <div class="header__inner">

      <span class="logo">Flussonic</span>

      <nav class="nav">
        <ul class="nav__list">
          {% for link in navigation %}
          {% if loop.first %} 
            <li class="nav__item is-active">
              <a href="{{link.href}}" class="nav__link link{% if link.external %} link_solid-line{% endif %}">{{link.name}}</a>
            </li>
          {% else %}
            <li class="nav__item">
              <a href="{{link.href}}" class="nav__link link{% if link.external %} link_solid-line{% endif %}">{{link.name}}</a>
            </li>
          {% endif %}
          {% endfor %}
          <li class="nav__item">
            <a href="#">
              {% include "../../img/svg/search.svg" %}
            </a>
          </li>
        </ul>
      </nav>

      <div class="lang">
        {% if LANG == "ru" %}
          <a href="index.html" class="lang__current">English</a>
        {% else %}
          <a href="index-ru.html" class="lang__current">По-русски</a>
        {% endif %}
        {# <ul class="lang__list">
          <li class="lang__list-item"><a href="#">По-русски</a></li>
          <li class="lang__list-item"><a href="#">English</a></li>
        </ul> #}
      </div>

      <button type="button" class="menu-button"><span></span></button>

      {% include "_hero-links.html" %}

    </div>
  </div>
</header>
<!-- END header -->
