<!-- section -->
<section class="section section_iptv">
	<div class="l">
		<!-- row -->
		<div class="row fade-in slide-up">
			<div class="col-right">
				<h3 class="title title_small">Пользователи</h3>
				<p>Мы предоставляем веб-интерфейс для управления пользователями и их группами, а также API для автоматизированного провижнинга из вашего существующего биллинга. Наша система поможет организовать прием платежей и поминутную оплату доступа.</p>
				<div class="img-anim is-user">
					{% include "../../img/svg/users.svg" %}
				</div>
			</div> 
		</div>
		<!-- row -->
		<div class="row fade-in slide-up">
			<div class="col-left">
				<h3 class="title title_small">Устройства</h3>
				<p>Flussonic IPTV предлагает разные варианты доступа с устройств к каналам: плейлисты для самых примитивных приставок, приложение для SmartTV и устройств на Android, веб-интерфейс для классических приставок типа Mag/Amino.</p>
				<div class="img-anim is-device">
					<img src="img/iptv-device-x2.png" class="is-hidden" alt="img">
					<img src="img/iptv-device-light-x2.png" class="img-anim__device is-hidden" alt="img">
				</div>
			</div>
		</div>
		<!-- row -->
		<div class="row fade-in slide-up">
			<div class="col-right">
				<h3 class="title title_small">Каналы</h3>
				<p>Flussonic IPTV позволяет управлять списком доступных каналов, транскодированием их в кластере, расписанием передач (EPG), управлять пакетами каналов. Мы можем предоставить возможность самостоятельного выбора пакетов со стороны пользователей, чтобы они могли с пульта расширить свою подписку.</p>
				<div class="img-anim ">
					
				</div>
			</div>
		</div>
	</div>
</section>