<!-- BEGIN esction -->
<section class="section section-news">
  <h2 class="title">News</h2>
  <div class="row">
    <div class="col col-50">
      <div class="news news_important">
        <h3 class="news__title">
          <a href="#" class="news__title">Erlyvideo at «All Over IP Moscow»</a>
        </h3>
        <p class="news__text">We look forward to seeing you
          at Sokolniki Exhibition and Convention Centre on November 18th.
        </p>
        <span class="news__date">15.11.2015</span>
      </div>
    </div>
    <div class="col col-50">
      <div class="news">
        <h3 class="news__title">
          <a href="#" class="news__title">Erlyvideo Version 4.5</a>
        </h3>
        <p class="news__text">
          Recent update with Verimatrix support,
          read more in our extensive <a href="#">documentation</a>.
        </p>
        <span class="news__date">12.05.2015</span>
      </div>
      <div class="news">
        <h3 class="news__title">
          <a href="#" class="news__title">Version 4.5.1 released</a>
        </h3>
        <p class="news__text">
          Conax and Verimatrix support, incompatible changes in Apple DRM.
          Read <a href="#">Watcher upgrade instructions.</a>
        </p>
        <span class="news__date">30.05.2015</span>
      </div>
    </div>
  </div>
</section>
<!-- BEGIN esction -->
