<!-- BEGIN news -->
<section class="section section-news fade-in slide-up">
  <h2 class="title">{{news.title}}</h2>
  <div class="row">
    <div class="col col-50">
      {% for n in posts %}
      {% if n.first %}
      <div class="news news_important">
        <h3 class="news__title">
          <a href="{{n.href}}">{{n.title}}</a>
        </h3>
        <p class="news__text">{{n.teaser}}</p>
        <span class="news__date">{{n.date}}</span>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="col col-50">
      {% for n in posts %}
      {% if not n.first %}
      <div class="news">
        <h3 class="news__title">
          <a href="{{n.href}}">{{n.title}}</a>
        </h3>
        <p class="news__text">{{n.teaser}}</p>
        <span class="news__date">{{n.date}}</span>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- END news -->
