<!-- BEGIN questions -->
<section class="section questions">
  <h2 class="title">Any questions?</h2>
  <a href="#" class="icon-link">
    {{mixins.svgIcon('circle-question')}}
    <span>Frequently <br>asked</span>
  </a>
  <a href="#" class="icon-link">
    {{mixins.svgIcon('comment')}}
    <span>Discussion <br>boards</span>
  </a>
  <a href="tel:+74994993404" class="icon-link">
    {{mixins.svgIcon('circle-phone')}}
    <span>+7 499 499-34-04</span>
  </a>
  <a href="mailto:support@erlyvideo.ru" class="icon-link">
    {{mixins.svgIcon('circle-mail')}}
    <span>support@erlyvideo.ru</span>
  </a>
</section>
<!-- BEGIN questions -->
