<!-- BEGIN toparea -->
<section class="toparea l">
	<div class="toparea__in fade-in slide-up"> 
		<div class="toparea__set"></div>
		<div class="toparea__svg is-aerial"> 
			<div class="js-svg-anim-ip">{% include "../../img/svg/aerial.svg" %}</div>
			<div class="toparea__svg-bot">{% include "../../img/svg/iptv_line_top2.svg" %}</div>
		</div>
		<div class="toparea__left"> 
			<h1 class="title">Flussonic IPTV</h1>
			<p>В составе Flussonic мы предлагаем систему управления OTT IPTV </p>
		</div>
	</div>

 </section>
<!-- END toparea -->
