<!-- BEGIN toparea -->
<section class="toparea l fade-in slide-up">

  <div class="hero">
    <h1 class="title title_bold">Video streaming<br> and recording</h1>
    {% include "_hero-links.html" %}
    <p class="hero-text hero-text-ipcam is-active">
      Flussonic works with almost all H264/H265 cameras, record video,
      capture motion events, provide multi user access via browser and mobile apps
    </p>
    <p class="hero-text hero-text-iptv">
      Flussonic can take video from headends, transcode it,
      record for catchup and timeshift and playout on hundreds
      of different devices ingesting advert directly into stream.
    </p>
    {# <p>
      Flussonic takes in video streams from different sources,
      delivers  them to users in multiple formats and saves
      them into unlimited archives
    </p> #}
    <button class="btn" type="button">Try it for free</button>

    <div class="hero-figure hero-figure-ipcam is-active">
      {% include "../../../_tmp/img/svg/ipcam.svg" %}
      <p class="hero-figure__text">
        Supported protocols
        <br>RTSP  RTMP  HLS
        <br>MPEG-TS
      </p>
    </div>

    <div class="hero-figure hero-figure-iptv">
      {% include "../../../_tmp/img/svg/iptv.svg" %}
      <p class="hero-figure__text">
        Getting the stream through
        <br>a satellite receiver or a PC
      </p>
    </div>
  </div>

 </section>
<!-- END toparea -->
