<!-- BEGIN toparea -->
<section class="toparea l fade-in slide-up">

  <div class="hero">
    <h1 class="title hero-text hero-text-ipcam is-active">{{toparea.ipcams|safe}}</h1>

    <h2 class="title hero-text hero-text-iptv">{{toparea.iptv|safe}}</h2>

    {% include "_hero-links.html" %}

    <p class="hero-text hero-text-ipcam is-active">{{toparea.ipcams_info}}
    </p>

    <p class="hero-text hero-text-iptv">
      {{toparea.iptv_info}}
    </p>

    <a href="#trial" class="btn">{{toparea.trial}}</a>

    <div class="hero-figure hero-figure-ipcam is-active">
      {% include "../../img/svg/ipcam.svg" %}
      <p class="hero-figure__text">
        {{toparea.ipcams_info2|safe}}
      </p>
    </div>

    <div class="hero-figure hero-figure-iptv">
      {% include "../../img/svg/iptv.svg" %}
      <p class="hero-figure__text">
        {{toparea.iptv_info2|safe}}
      </p>
    </div>
  </div>

 </section>
<!-- END toparea -->
