<!-- BEGIN toparea -->
<section class="toparea ">
	<div class="l">
		<div class="toparea__svg is-hidden js-svg-anim-type"> 
			{% include "../../img/cam.svg" %}
		</div> 
		<div class="toparea__svg is-plate js-svg-anim-type"> 
			{% include "../../img/svg/tarelka.svg" %}
		</div> 
		<div class="toparea__in fade-in slide-up"> 
			<div class="toparea__left">
				<h1 class="title">{{toparea_general.title}}</h1>
				<p>{{toparea_general.description|safe}}</p>
			</div>
			<nav class="nav is-mod">
				<ul class="nav__list">
					<li class="nav__item is-active">
						<a href="#" class="nav__link link link_solid-line">Overview</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link link link_solid-line">Comparison with competitors</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
 </section>
<!-- END toparea -->
