<!-- BEGIN toparea -->
<section class="toparea l">
	<div class="toparea__in fade-in slide-up"> 
		<div class="row">
			<div class="col-left">
				<div class="toparea__svg js-svg-anim-ip"> 
					{% include "../../img/svg/ip-cam-top.svg" %}
					<div class="toparea__line js-svg-anim-line">
						{% include "../../img/svg/ip_top_line2.svg" %}
					</div> 
				</div>
			</div>
		</div>
		<div class="toparea__left">
			<h1 class="title">Flussonic Watcher</h1>
			<p>Мы предлагаем программное обеспечение для организации облачных сервисов по видеонаблюдению</p>
		</div>
	</div>
 </section>
<!-- END toparea -->
