.svg-circle-mail {
  width: 1em;
  height: 1em;
  fill: #000;
}
.svg-circle-phone {
  width: 1em;
  height: 1em;
  fill: #000;
}
.svg-circle-question {
  width: 1em;
  height: 1em;
  fill: #000;
}
.svg-comment {
  width: 1.1216666666666666em;
  height: 1em;
  fill: #000;
}
.svg-facebook {
  width: 0.5216346153846154em;
  height: 1em;
  fill: #000;
}
.svg-hamburger {
  width: 1.4049844236760125em;
  height: 1em;
  fill: #000;
}
.svg-icon-antenna {
  width: 1em;
  height: 1em;
  fill: none;
}
.svg-icon-camera {
  width: 1.0285714285714285em;
  height: 1em;
  fill: none;
}
.svg-mail {
  width: 1.5202952029520296em;
  height: 1em;
  fill: #000;
}
.svg-map-marker-o {
  width: 0.6685714285714286em;
  height: 1em;
  fill: #000;
}
.svg-map-marker {
  width: 0.6657142857142857em;
  height: 1em;
  fill: #000;
}
.svg-phone {
  width: 0.7449494949494949em;
  height: 1em;
  fill: #000;
}
.svg-question {
  width: 0.725em;
  height: 1em;
  fill: #000;
}
.svg-twitter {
  width: 1.23125em;
  height: 1em;
  fill: #000;
}
.svg-youtube-play {
  width: 1.4em;
  height: 1em;
  fill: #000;
}
