---
title: {{head.title}}
PAGE_SCRIPTS:
  - main-page
---

{% extends "layouts/_layout.html" %}

{% block content %}

  {% include "partials/_header.html" %}
  {% include "partials/_toparea.html" %} 
  {% include "partials/_features.html" %}
  <div class="l">
    {% include "partials/_index_form.html" %}
    {% include "partials/_news.html" %}
    {% include "partials/_customers.html" %}
    {% include "partials/_questions.html" %}
  </div>
  {% include "partials/_contacts.html" %}
  {% include "partials/_footer.html" %}

{% endblock %}
